    <div data-role="header" class="ui-header">
      <h1 class="ui-title">FotoNote</h1>
      <div data-role="navbar">
        <ul>
          <li><a id="nav-add" href="#add">add</a></li>
        </ul>
      </div>
    </div>
    <div role="main" class="ui-content home-page">
      <p>Welcome to FotoNote</p>
      <div id="note-list"></div>
    </div>
