<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.rumianom.FotoNote" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FotoNote</name>
    <description>
        FotoNote application
    </description>
    <author email="maciej@rumianom.pl" href="http://rumianom.pl">
        Maciej Rumianowski
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
